version: '2'

services:
  ql:
    build: .
    volumes:
      - ./src:/app/src
    ports:
      - "3001:3001"
    depends_on:
     - ethereum
    env_file:
      - ./config/env
  txworker:
    build: .
    volumes:
      - ./src:/app/src
    depends_on:
     - ethereum
    env_file:
      - ./config/env
    command:
      node src/txWorker.js
  ethereum:
    image: harshjv/testrpc
    entrypoint: testrpc
